@font-face {
    font-family: 'IranSans';
    src: url('./fonts/IranianSans.eot'),
         url('./fonts/IranianSans.eot') format('embedded-opentype'),
         url('./fonts/IranianSans.woff') format('woff'),
         url('./fonts/IranianSans.ttf') format('truetype'),
         url('./fonts/IranianSans.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: IranSans !important;
}

.dir-rtl {
    direction: rtl;
    text-align: right;
}

.article-content{
    text-align: justify;
    line-height: 2;
}